@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

*:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14pt;
  box-sizing: border-box;

  text-decoration-line: none;
  a:link{color: black;}
  a:visited{color: black;}
  a:hover{color:#ebcc03;}
  a:active{color: black;}
}

main {
  margin-left: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  }


 .project-item {
   width: 38vw;
   .colorbox {
     img {
       width: 38vw;
       display: block;

       &:hover{
         opacity: .2;
       }
      }
     background: #ebcc03;
    }
    h2 {
      font-size: 1em;
      margin-top: -80px;
      margin-left: 20 px;
      opacity: 0;
      &:hover{
        opacity: 10;
      }  
    }
    p {
      font-size: 1em;
      font-weight: 400;
      font-style: oblique;
      opacity: 0;
      &:hover{
        opacity: 10;
      }  
    }
    
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
  
  }